@import "_variables";
@import "_mixins";

footer {
	padding: 6vw;

	background-color: $play-color-off-black;
	color: $play-color-off-white;

	text-align: center;

	@include mq('tablet') {
		padding: 3vw;
	}

	@include mq('desktop') {
		padding: 1.5vw;
	}

	p {
		margin: 0;

		font-size: 3vw;
		line-height: 1;

		@include mq('tablet') {
			font-size: 2vw;
		}

		@include mq('desktop') {
			font-size: 1vw;
		}
	}
	
	img {
		width: 11.5%;
		
    	vertical-align: text-bottom;

		@include mq('tablet') {
			width: 6.5%;
		}

		@include mq('desktop') {
			width: 3.5%;
		}
	}
}
