@import "_variables";
@import "_mixins";

footer {
	padding: 4vw;

	background-color: $play-color-off-black;
	color: $play-color-off-white;

	text-align: center;

	@include mq('tablet') {
		padding: 1.5vw;
	}

	p {
		margin: 0;

		font-size: 3vw;
		line-height: 1;

		@include mq('tablet') {
			font-size: 1vw;
		}
	}
	
	img {
		width: 3.5%;
		
    		vertical-align: text-bottom;
	}
}
