@import "_variables";
@import "_mixins";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Custom Styles

body {
    position: relative;

    margin: 0;
    padding: 0;

    background-color: $play-color-off-white;
    color: $play-color-off-white;

    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

.sr-only {
	position: absolute;
	margin: -1px 0 0 -1px;
	padding: 0;
	display: block;
	width: 1px;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
	}

// Hero
.hero {
	position: relative;
	overflow: hidden;

	margin-bottom: 2vw;
	height: 60vh;

	@include mq('tablet') {
		margin-bottom: 1vw;
		height: auto;
	}
	
	&__background {
		display: flex;
    
		position: relative;
		z-index: 3;

		width: 100%;
		height: 100%;
		max-height: 900px;
		
		align-items: center;

		&-video {
			height: 100%;

			@include mq('tablet') {
				width: 100%;
				height: auto;
			}
		}
	}
	
	&__trees {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 7;
		
		width: 100%;
		height: 100%;

		background-image: url(../../Images/trees.png);
		background-size: cover;
		background-position: bottom center;
	}

	&__body {
		position: absolute;
		bottom: 11vw;
		right: 0;
		z-index: 8;
		display: flex;

		width: 95vw;
		//height: 60%;
		height: auto;
		padding: 4vw;

		background-color: rgba($play-color-gray-dark, .9);
		border-radius: 2vw 0 0 2vw;

		align-content: flex-end;
		justify-content: flex-start;
		flex-wrap: wrap;

		@include mq('tablet') {
			bottom: 7vw;

			width: 75vw;
			padding: 2vw;
		}

		h2 {
			color: $play-color-off-white;

			font-weight: 900;
			text-align: left;
			font-size: 6.1vw;
			//text-shadow: $play-color-off-black 0 0 14px;
			line-height: 1;
			letter-spacing: -.1vw;

			@include mq('tablet') {
				font-size: 5vw;
			}
		}

		p {
			margin-top: 2vw;
			margin-bottom: 0;

			color: $play-color-yellow;
			
			text-align: left;
			//text-shadow: $play-color-off-black 0 0 5px;
			font-size: 3.7vw;
			line-height: 1.3;

			@include mq('tablet') {
				font-size: 1.7vw;
				line-height: 1;
			}
		}
	}
}

// Section
.section {
	display: flex;
	position: relative;
	overflow: hidden;

	width: 100%;
	padding: 15vw 4vw;
	margin-bottom: 2vw;

	@include mq('tablet') {
		padding: 7vw 5vw;
		margin-bottom: 1vw;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
	
	&--text-right {
		@extend .section;

		justify-content: flex-end;
	}

	&--text-left {
		@extend .section;

		justify-content: flex-start;
	}

	&__text {
		display: flex;
		position: relative;
		z-index: 5;

		width: 100%;

		padding: 5vw;

		background-color: rgba($play-color-blue-gray, .8);
		box-shadow: $play-content-box-shadow;

		flex-wrap: wrap;
		justify-content: center;

		@include mq('tablet') {
			width: 60%;
			padding: 3vw 3vw 6vw;
		}

		h3 {
			margin-bottom: $space-sm;

			color: $play-color-blue-lighter;

			font-weight: 700;
			text-align: center;
			font-size: 6vw;
			text-transform: none;
			line-height: 1.1;

			@include mq('tablet') {
				margin-bottom: 3vw;
				margin-right: 4vw;

				font-size: 3vw;
				text-align: left;
			}

			&.money {
				color: $play-color-green-dark;
			}

			&.props {
				color: $play-color-blue-lighter;
			}

			&.pennies {
				color: $play-color-yellow;
			}
		}

		p {
			margin: 0;

			font-size: 3.5vw;
			line-height: 1.7;
			text-transform: none;
			text-align: center;

			@include mq('tablet') {
				font-size: 1.3vw;
				text-align: left;
			}
		}

		&-body {
			@include mq('tablet') {
				display: flex;

				width: 100%;
			}
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;

		width: 100%;
		height: 100%;

		background-color: rgba($play-color-off-black, .7);

		&--money {
			@extend .section__overlay;

			z-index: 2;

			background-color: rgba($play-color-green-dark, .3);
		}

		&--props {
			@extend .section__overlay;

			z-index: 2;

			background-color: rgba($play-color-blue-lighter, .3);
		}

		&--pennies {
			@extend .section__overlay;

			z-index: 2;

			background-color: rgba($play-color-yellow, .3);
		}
	}

	&__icon {
		display: inline-block;
		position: relative;

		width: 8vw;
		height: 8vw;
		padding: 1vw;
		margin-bottom: 3vw;
		
		border: .5vw solid $play-color-green-dark;
		border-radius: 999px;

		&--money {
			@extend .section__icon;

			border-color: $play-color-green-dark;
		}

		&--props {
			@extend .section__icon;

			border-color: $play-color-blue-lighter;
		}

		&--pennies {
			@extend .section__icon;

			border-color: $play-color-yellow;
		}
	}

	&__back-text {
		display: flex;
		position: absolute;
		right: -2vw;
		bottom: -2vw;
		z-index: 4;
		opacity: .4;

		height: 25vw;
		width: 65vw;

		color: $play-color-off-white;

		font-size: 12vw;
		font-weight: 900;
		//white-space: nowrap;
		text-align: right;
		line-height: .8;
		letter-spacing: -.5vw;

		align-items: flex-end;
		justify-content: flex-end;

		&--left {
			@extend .section__back-text;

			left: -2vw;
			right: auto;

			text-align: left;

			justify-content: flex-start;
		}
	}

	&--signup {
		@extend .section;

		padding: 20vw 0;

		background-color: $play-color-blue-gray;

		text-align: center;

		justify-content: center;

		@include mq('tablet') {
			padding: 12vw 0;
		}

		div {
			position: relative;
			z-index: 5;
		}

		p {
			margin-bottom: 4vw;

			font-size: 4.5vw;
			font-weight: 700;
			
			@include mq('tablet') {
				margin-bottom: 4vw;

				font-size: 2.5vw;
			}
		}

		input {
			padding: 3vw;
			width: 80vw;

			border: none;
			border-radius: 1vw;
			color: $play-color-blue-gray;

			font-size: 4vw;

			@include mq('tablet') {
				padding: 1vw;
				max-width: none;
				width: 40vw;

				border-radius: .5vw;

				font-size: 2vw;
			}
		}
	}
}

.background-1 {
	background-image: url('../../Images/playerdise1.jpg');
	background-size: cover;
	background-position: center center;
}

.background-2 {
	background-image: url('../../Images/playerdise2.jpg');
	background-size: cover;
	background-position: center center;
}

.background-3 {
	background-image: url('../../Images/playerdise3.jpg');
	background-size: cover;
	background-position: center center;
}

.icon-money {
	@include money-icon($play-color-green-dark, 5vw, 5vw);
	position: absolute;
	top: 47%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.icon-props {
	@include props-icon($play-color-blue-lighter, 6vw, 6vw);

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.icon-pennies {
	@include pennies-icon($play-color-yellow, 6vw, 6vw);

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}