// Base colors
$play-color-white: #ffffff;
$play-color-black: #000000;

// Grays/Blues
$play-color-off-white: #F5F5F5;
$play-color-blue-lighter: #A6DBF5;
$play-color-blue-light: #61808F;
$play-color-blue-gray: #455B66;
$play-color-gray-light: #979797;
$play-color-gray: #374952;
$play-color-gray-dark: #2A343D;
$play-color-gray-darker: #1C2429;
$play-color-off-black: #0E1114;

// Yellows
$play-color-yellow: #F5E61D;

// Reds
$play-color-red: #CC0808;

// Greens
$play-color-green: #C1F558;
$play-color-green-dark: #90F51D;

/////////////////
// Spacing
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;
$space-xxl: 64px;

/////////////////
// Shadows
$play-content-box-shadow: 0 8px 24px 0 rgba(0,0,0,0.5);